form {
  width: 100%;
  max-width: 600px;
  min-width: 400px;
  margin: 20px auto 0;
  border: 2px solid #202a5d;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  form > div {
    padding: 0 2.5% 20px; }
    b
    form > div > .form-item:first-child {
      margin-top: 0; }

label {
  cursor: pointer;
  color: #00abd6;
  margin: 0; }

select {
  height: 30px;
  padding: 4px 14px;
  overflow: hidden;
  margin: 0;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #00abd6;
  outline: none;
  font-size: 16px;
  line-height: 22px;
  color: #fff; }
  select:active, select:focus {
    outline: none;
    background: #202a5d; }

input[type="checkbox"], input[type="radio"] {
  margin: 0;
  vertical-align: middle; }

.webform-component-radios > label {
  cursor: default; }

.form-radios label {
  color: #202a5d; }

.webform-container-inline label {
  margin: 0; }

.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 2px; }

.form-item,
.form-actions {
  margin: 20px 0 0; }

.form-item.webform-component, .form-item.webform-container-inline {
  overflow: hidden; }
  .form-item.webform-component > label, .form-item.webform-container-inline > label {
    float: left;
    width: 24%;
    padding: 7px 0 0;
    margin: 0;
    line-height: 16px; }
  .form-item.webform-component > input[type="text"],
  .form-item.webform-component > input[type="email"],
  .form-item.webform-component > .webform-container-inline,
  .form-item.webform-component > .form-radios, .form-item.webform-container-inline > input[type="text"],
  .form-item.webform-container-inline > input[type="email"],
  .form-item.webform-container-inline > .webform-container-inline,
  .form-item.webform-container-inline > .form-radios {
    float: right;
    width: 74%;
    margin: 0; }
  .form-item.webform-component > input[type="text"],
  .form-item.webform-component > input[type="email"], .form-item.webform-container-inline > input[type="text"],
  .form-item.webform-container-inline > input[type="email"] {
    height: 30px;
    padding: 4px 14px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #00abd6;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    outline: none; }
    .form-item.webform-component > input[type="text"]:active, .form-item.webform-component > input[type="text"]:focus,
    .form-item.webform-component > input[type="email"]:active,
    .form-item.webform-component > input[type="email"]:focus, .form-item.webform-container-inline > input[type="text"]:active, .form-item.webform-container-inline > input[type="text"]:focus,
    .form-item.webform-container-inline > input[type="email"]:active,
    .form-item.webform-container-inline > input[type="email"]:focus {
      background: #202a5d; }
.form-item.webform-component-radios .form-radios > .form-item {
  display: inline-block;
  margin-right: 5px; }
  .form-item.webform-component-radios .form-radios > .form-item label {
    position: relative;
    top: 2px;
    font-style: italic; }
.form-item.webform-component-webform_time .form-radios .form-type-radio {
  margin-right: 5px; }
  .form-item.webform-component-webform_time .form-radios .form-type-radio:first-child {
    margin-left: 10px; }
  .form-item.webform-component-webform_time .form-radios .form-type-radio label {
    position: relative;
    top: 2px;
    font-style: italic; }

.form-actions {
  text-align: center; }
  .form-actions input {
    cursor: pointer;
    display: inline-block;
    padding: 8px 14px 9px;
    border: none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background: #00abd6;
    -moz-box-shadow: 0 0 5px #202a5d;
    -webkit-box-shadow: 0 0 5px #202a5d;
    box-shadow: 0 0 5px #202a5d;
    text-shadow: 2px 2px 3px rgba(32, 42, 93, 0.4);
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    line-height: 1;
    text-transform: uppercase; }
    .form-actions input:hover, .form-actions input:active {
      background: #202a5d;
      text-shadow: 2px 2px 3px rgba(0, 171, 214, 0.75);
      -moz-box-shadow: 0 0 0 #202a5d;
      -webkit-box-shadow: 0 0 0 #202a5d;
      box-shadow: 0 0 0 #202a5d; }
