#admin-menu {
  z-index: 1001; }

#popout-nav {
  display: block;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #popout-nav a {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }

#popout-nav-toggle-wrapper {
  width: 100%;
  max-width: 980px;
  padding-top: 85px;
  text-align: right;
  font-size: 0;
  line-height: 0; }
  #popout-nav-toggle-wrapper a {
    font-size: 63px;
    line-height: 1; }
    #popout-nav-toggle-wrapper a:link, #popout-nav-toggle-wrapper a:visited {
      color: #00abd6; }
    #popout-nav-toggle-wrapper a:hover, #popout-nav-toggle-wrapper a:active, #popout-nav-toggle-wrapper a:focus {
      color: #202a5d; }

#fixed-menu-buttons {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 230px;
  width: 100%;
  pointer-events: none; }
  #fixed-menu-buttons .menu-buttons {
    display: block;
    width: 100%;
    max-width: 1020px;
    padding: 0 20px 0;
    margin: 0 auto;
    pointer-events: none; }
    #fixed-menu-buttons .menu-buttons a {
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
      pointer-events: all; }
      #fixed-menu-buttons .menu-buttons a:link, #fixed-menu-buttons .menu-buttons a:visited, #fixed-menu-buttons .menu-buttons a:hover, #fixed-menu-buttons .menu-buttons a:active, #fixed-menu-buttons .menu-buttons a:focus {
        color: #fff; }
      #fixed-menu-buttons .menu-buttons a:link, #fixed-menu-buttons .menu-buttons a:visited, #fixed-menu-buttons .menu-buttons a:hover, #fixed-menu-buttons .menu-buttons a:active, #fixed-menu-buttons .menu-buttons a:focus {
        outline: none; }
    #fixed-menu-buttons .menu-buttons li {
      display: block;
      width: 23px;
      margin: 30px 0 0 auto; }
      #fixed-menu-buttons .menu-buttons li:first-child {
        margin-top: 0; }
      #fixed-menu-buttons .menu-buttons li a {
        display: block;
        width: 23px;
        height: 23px;
        background: #f3f3f3;
        background-clip: content-box;
        border: 5px solid transparent;
        overflow: hidden;
        text-indent: -9999px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; }
        #fixed-menu-buttons .menu-buttons li a.active, #fixed-menu-buttons .menu-buttons li a:hover, #fixed-menu-buttons .menu-buttons li a:active, #fixed-menu-buttons .menu-buttons li a:focus {
          background: rgba(0, 171, 214, 0.95);
          border-color: #f3f3f3; }

.no-overlay #fixed-menu-buttons .menu-buttons li a {
  border-color: transparent; }
  .no-overlay #fixed-menu-buttons .menu-buttons li a.active, .no-overlay #fixed-menu-buttons .menu-buttons li a:hover, .no-overlay #fixed-menu-buttons .menu-buttons li a:active, .no-overlay #fixed-menu-buttons .menu-buttons li a:focus {
    background: rgba(0, 171, 214, 0.95);
    border-color: #f3f3f3; }

#overlay-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 171, 214, 0.95);
  color: #fff; }
  #overlay-menu a:link, #overlay-menu a:visited, #overlay-menu a:hover, #overlay-menu a:active, #overlay-menu a:focus {
    color: #fff; }
  #overlay-menu > .inner {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 0 20px;
    margin: auto; }
  #overlay-menu .close-me {
    position: absolute;
    right: 20px;
    top: 63px;
    font-weight: 300;
    font-size: 62px;
    text-transform: lowercase; }
  #overlay-menu ul {
    padding: 0;
    margin: 0; }
    #overlay-menu ul li {
      list-style: none;
      padding: 0;
      margin: 0; }
  #overlay-menu .menu {
    padding-top: 72px; }
    #overlay-menu .menu li {
      margin-bottom: 111px;
      font-weight: 300;
      font-size: 48px;
      line-height: 52px;
      text-align: center;
      text-transform: uppercase; }
      #overlay-menu .menu li a.active, #overlay-menu .menu li a:hover, #overlay-menu .menu li a:active, #overlay-menu .menu li a:focus {
        font-weight: 600; }

.nav-popout-link {
  width: 100%;
  max-width: 980px; }

/*# sourceMappingURL=nav.css.map */
