* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.container {
  width: 100%;
  margin: 0;
  padding: 0 20px; }

.row {
  position: relative;
  width: 100%;
  margin: auto; }
  .row .row {
    max-width: 800px; }

body {
  width: 100%;
  margin: 0;
  font: 14px/1.5 Arial, Helvetica, sans-serif;
  color: #333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 2px;
  margin-left: 0;
  font-weight: bold;
  color: #202a5d; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px; }

h3,
h4,
h5,
h6 {
  font-size: 16px; }

p {
  margin: 20px 0 0; }

a:link, a:visited {
  color: #202a5d;
  text-decoration: underline; }
a:hover, a:active {
  text-decoration: none; }

a,
button,
input[type="submit"],
input[type="button"],
input[type="text"],
input[type="email"],
select {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }

#header {
  padding-bottom: 3px;
  background: #202a5d;
  border-bottom: 2px solid #80d5eb; }
  #header > .container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
    background: #00abd6; }

#logo img {
  height: 100px;
  width: auto; }

.copyright {
  font-size: 12px; }
