@import "mixins";

// What we do
#wwd-container {
  position: relative;
  background: $colBgWWD;
  margin-bottom: 40px;
  color: $colTxtOnDrk;
  
  &> .row {
    max-width: 706px;
    padding: 67px 0 36px;
  }
  
  .section-title {
    width: 46.0339%;
    max-width: 309px;
    font: {
      size: 115px;
    }
    
    line-height: normal;
  }
  
  .section-title,
  h3 {
    color: $colHdLt;
  }
  
  .section-text {
    width: 53.966%;
    padding-left: 4.1994%;
    
    p {
      margin: 30px 0 0;
      font-weight: $weightSSPLight;
      
      &:first-child {
        //margin-top: 40px;
      }
    }
  }
  
  h3 {
    position: relative;
    top: 30px;
    font-weight: bold;
  }
}

body {
  #wwd-title {
    position: absolute;
    
    &-fixed,
    &-bottom {
      visibility: hidden;
    }
    
    &-fixed {
      position: fixed;
      top: 67px;
    }
    
    &-bottom {
      position: absolute;
      bottom: 67px;
    }
  }
  
  &.show-wwd-title {
    &-fixed,
    &-bottom {
      #wwd-title {
        visibility: hidden;
      }
    }
    
    &-fixed {
      #wwd-title-fixed {
        visibility: visible;
      }
    }
    
    &-bottom {
      #wwd-title-bottom {
        visibility: visible;
      }
    }
  }
}

// Who We Are
#wwa-container {
  padding-top: 40px;
  background: #fff;
}

.wwa-edit-link {
  position: absolute;
  top: 0;
  right: $padWWACols;
  display: none;
  
  @include linkAllStates(color, $colScrollLinkWWA);
  @include hoverActiveFocus(text-decoration, underline);
}

#wwa-bios {
  max-width: 822px;
  padding-bottom: 50px;
  background: url('../../images/bg-wwa-divider.png') center top repeat-y;
  
  .row {
    padding-top: 50px;
    
    &.row-1 {
      padding-top: 0;
    }
  }
  
  &.with-header {
    .row-1 {
      padding-top: 50px;
    }
  }
  
  #wwa-header {
    position: relative;
    padding: 20px 20px 0;
    border: 3px solid $colHdLt;
    border: {
      left: none;
      right: none;
    }
    background: #fff;
    margin-top: 20px;
    
    .wwa-heading {
      text-align: center;
    }
  }
  
  .column {
    position: relative;
    padding-right: $padWWACols;
    text-align: center;
    
    &.right {
      padding: {
        right: 0;
        left: $padWWACols;
      }
      
      .wwa-edit-link {
        right: 0;
      }
    }
    
    &:hover {
      .wwa-edit-link {
        display: inline-block;
      }
    }
  }
}

.wwa-heading {
  font-size: 15px;
  line-height: normal;
  color: $colHdLt;
}

.wwa-name {
  margin-bottom: 1em;
  font: {
    weight: $weightSSPSemiBold;
    size: 40px;
  }
  
  line-height: normal;
  color: $colHdDrk;
}

p.wwa-bio {
  font-size: 15px;
  line-height: 2;
}

#wwa-scroll-nav-link {
  width: 102px;
  height: 102px;
  padding-top: 13px;
  border: 1px solid $colSLWWAWBorder;
  @include vendorize(border-radius, 50%);
  margin: 8px auto 59px;
}

// Talk to Us
#ttu-container {
  padding: {
    top: 59px;
    bottom: 180px;
  }
}

#ttu-title {
  margin-bottom: 90px;
  text-align: center;
  font: {
    size: 60px;
  }
  line-height: normal;
  color: $colHdLt;
}
