@import "mixins";

@media screen and (min-width: 661px) and (max-width: 920px) {
  // Add padding to the columns on who we are so the nav is clear of it.
  #wwa-bios {
    padding: 0 63px 50px;
  }
}

// Break for "Who we are"
@media only screen and (min-width: 791px) and (max-width: 920px) {
  .wwa-name {
    font-size: 30px;
  }
}

@media only screen and (min-width: 661px) and (max-width: 790px) {
  #wwd-container {
    padding: 0 63px;
  }
}

@media only screen and (max-width: 529px) {
  #portfolio-container {
    background: #fff;
  }
  
  #portfolio-slider-bg {
    display: none;
  }
  
  #portfolio-slider-wrapper {
    .slider-wrapper {
      padding: {
        left: 10px;
        right: 10px;
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 790px) {
  #wwa-bios {
    .column {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 790px) {
  .slider-nav {
    top: auto;
    bottom: -104px;
  }
  
  #wwa-bios {
    background: none;
    
    .column {
      float: none;
      clear: both;
      width: 100%;
      border-bottom: 3px solid $colHdLt;
      margin-bottom: 1em;
      
      &.six {
        padding-right: 0;
      }
      
      &.right {
        padding-left: 0;
      }
    }
    
    .row {
      padding-top: 0;
      
      &:first-child {
        .column {
          &:first-child {
            padding-top: 40px;
          }
        }
      }
      
      &:last-child {
        .column {
          &:last-child {
            border-bottom: none;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 765px) {
  #portfolio-slider-wrapper {
    min-height: 400px;
    padding-bottom: 70px;
    
    .slider-wrapper {
      position: relative;
      top: 0;
      padding: 0 10px 20px;
      overflow: visible;
      
      .slider {
        left: 0;
      }
    }
  }
  .slider-nav {
    bottom: -66px;
    
    .arrows {
      max-width: none;
      padding: 0 10px;
    }
  }
}

@media screen and (max-width: 710px) {
  #wwd-container {
    .section-title,
    .section-text {
      float: none;
      clear: both;
      width: 100%;
      max-width: none;
      padding: 0;
    }
    
    .section-title {
      font-size: 72px;
    }
  }
  
  body {
    &.show-wwd-title {
      &-fixed,
      &-bottom {
        #wwd-title {
          display: block;
          
          &-fixed,
          &-bottom {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  #fixed-menu-buttons {
    display: none;
  }
  
  #wwd-container {
  }
}

@media screen and (max-width: 450px) {
  .wwa-name {
    font-size: 30px;
  }
}

@media screen and (max-width: 430px) {
  #wwd-container {
    .section-title {
      font-size: 50px;
      text-align: center;
    }
  }
  
  #ttu-container {
    padding-bottom: 20px;
  }
  
  #ttu-title {
    margin-bottom: 45px;
  }
  
  .portfolio-top-text {
    font-size: 23px;
  }
}

@media only screen and (max-width: 400px) {
  #popout-nav-toggle-wrapper {
    padding-top: 50px;
  }
  
  #ttu-title {
    font-size: 40px;
  }
  
  #overlay-menu .close-me {
    top: 20px;
  }
}

// Smartphones (portrait and landscape)
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .slider-caption {
    padding: {
      right: 60px;
      left: 60px;
    }
  }
}

// Smartphones (landscape)
@media only screen and (min-width: 321px) {
}

// Smartphones (portrait)
@media only screen and (max-width: 320px) {
}
