@import "mixins";

body {
  &> .messages {
    position: relative;
    z-index: 1003;
  }
  
  &> .tabs {
    position: fixed;
    z-index: 1002;
    left: 0;
    top: 130px;
    white-space: normal;
    
    .tabs {
      border: none;
      
      li {
        float: left;
        display: block;
        clear: both;
      }
    }
  }
}

.region-content {
  &> .block {
    
  }
}