// Font families
$fontFamMain: "Source Sans Pro", Arial, sans-serif;
$fontFamGlyph: "entypo";

// Font weights for Sans Source Pro
$weightSSPExtraLight: 200;
$weightSSPLight: 300;
$weightSSPNormal: 400;
$weightSSPSemiBold: 600;
$weightSSPBold: 700;
$weightSSPUltraBold: 900;

// Colors
$colTxtOnLT: #464646;
$colTxtOnDrk: #ededed;
$colHdLt: #00abd6;
$colHdDrk: #000003;
$colArrwTp: #202a5d;
$colBgWWD: #303030;
$colMenuBttns: #f3f3f3;
$colScrollLinkWWA: #787878;
$colSLWWAWBorder: #e2e2e2;
$colBgMO: rgba(0,171,214,0.95);
$colFrmBrdrrs: #ebebeb;
$colPlaceholder: #cbcbcb;
$colFrontReadMore: #43a6cd;
$colFrontBlogTitleBrdr: #676767;
$colFrontBlogMore: #92cee5;

// Dimensions
$padWWACols: 8.637%;
