# Ignore sass cache
.sass-cache
*.sass-cache
docs
ddinc*
.DS_Store
*.DS_Store
testing*
*testing*
private*
*private
# Ignore select Drupal files
docroot/INSTALL.txt
docroot/INSTALL.mysql.txt
docroot/INSTALL.pgsql.txt
docroot/INSTALL.sqlite.txt
docroot/old/*
docroot/install.php
docroot/README.txt
docroot/sites/README.txt
docroot/sites/example.sites.php
docroot/sites/default/default.settings.php
docroot/web.config
*.sql
docroot/sites/all/themes/dd/assets/node_modules/
tmp
*.ignore/
