// Font families
$fontFamMain: "Source Sans Pro", Arial, sans-serif;
$fontFamGlyph: "entypo";

// Font weights for Sans Source Pro
$weightSSPExtraLight: 200;
$weightSSPLight: 300;
$weightSSPNormal: 400;
$weightSSPSemiBold: 600;
$weightSSPBold: 700;
$weightSSPUltraBold: 900;

// Colors
$colTxtOnLT: #464646;
$colTxtOnDrk: #ededed;
$colHdLt: #00abd6;
$colHdDrk: #000003;
$colArrwTp: #202a5d;
$colBgWWD: #303030;
$colMenuBttns: #f3f3f3;
$colScrollLinkWWA: #787878;
$colSLWWAWBorder: #e2e2e2;
$colBgMO: rgba(0,171,214,0.95);
$colFrmBrdrrs: #ebebeb;
$colPlaceholder: #cbcbcb;

// Dimensions
$padWWACols: 8.637%;

// Mixins
@mixin noText() {
  font-size: 0;
  line-height: 0;
}

@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin vendorizePlaceholder($property, $value, $pre: '') {
  #{$pre}::-webkit-input-placeholder {
    #{$property}: $value;
  }
  #{$pre}:-moz-placeholder {
    #{$property}: $value;
  }
  #{$pre}::-moz-placeholder {
    #{$property}: $value;
  }
  #{$pre}:-ms-input-placeholder {
    #{$property}: $value;
  }
}

@mixin clear() {
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

@mixin linkTextOffscreen() {
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  font-size: 0;
  text-align: start;
}

@mixin linkAllStates($property, $value) {
  &:link, &:visited, &:hover, &:active, &:focus {
    #{$property}: $value;
  }
}

@mixin linkVisited($property, $value) {
  &:link, &:visited {
    #{$property}: $value;
  }
}

@mixin hoverActiveFocus($property, $value) {
  &:hover, &:active, &:focus {
    #{$property}: $value;
  }
}
