// Font weights for Sans Source Pro
$weightSSPExtraLight: 200;
$weightSSPLight: 300;
$weightSSPNormal: 400;
$weightSSPSemiBold: 600;
$weightSSPBold: 700;
$weightSSPUltraBold: 900;

// Colors
$colTxtOnLT: #464646;
$colTxtOnDrk: #ededed;
$colHdLt: #00abd6;
$colHdDrk: #000003;
