@import "mixins";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #fff;
  padding: 0;
  margin: 0;
  color: $colTxtOnLT;
}

.rebuild-logo,
.rebuild-copy {
  display: block;
  width: 100%;
  max-width: 370px;
  margin: auto;
}

.rebuild-logo {
  padding: 22px 0 0;
  margin: 0 auto 70px;
}

.rebuild-copy {
  font: $weightSSPExtraLight 33px/1.2 "Source Sans Pro", Arial, sans-serif;
  text: {
    align: center;
    transform: uppercase;
  }
  
  strong {
    display: block;
    font-weight: $weightSSPBold;
  }
}
