// What we do
#wwd-container {
  position: relative;
  background: $colBgWWD;
  margin-bottom: 40px;
  color: $colTxtOnDrk;
  
  &> .row {
    max-width: 706px;
    padding: 67px 0 36px;
  }
  
  .section-title {
    width: 46.0339%;
    max-width: 309px;
    font: {
      size: 115px;
    }
    
    line-height: normal;
  }
  
  .section-title,
  h3 {
    color: $colHdLt;
  }
  
  .section-text {
    width: 53.966%;
    padding-left: 4.1994%;
    
    p {
      margin: 30px 0 0;
      font-weight: $weightSSPLight;
      
      &:first-child {
        //margin-top: 40px;
      }
    }
  }
  
  h3 {
    position: relative;
    top: 30px;
    font-weight: bold;
  }
}

body {
  #wwd-title {
    position: absolute;
    
    &-fixed,
    &-bottom {
      visibility: hidden;
    }
    
    &-fixed {
      position: fixed;
      top: 67px;
    }
    
    &-bottom {
      position: absolute;
      bottom: 67px;
    }
  }
  
  &.show-wwd-title {
    &-fixed,
    &-bottom {
      #wwd-title {
        visibility: hidden;
      }
    }
    
    &-fixed {
      #wwd-title-fixed {
        visibility: visible;
      }
    }
    
    &-bottom {
      #wwd-title-bottom {
        visibility: visible;
      }
    }
  }
}

// Who We Are
#wwa-container {
  padding-top: 40px;
}

.wwa-edit-link {
  position: absolute;
  top: 0;
  right: $padWWACols;
  display: none;
  
  @include linkAllStates(color, $colScrollLinkWWA);
  @include hoverActiveFocus(text-decoration, underline);
}

#wwa-bios {
  max-width: 822px;
  padding-bottom: 50px;
  background: url('../images/bg-wwa-divider.png') center top repeat-y;
  
  .row {
    padding-top: 50px;
    
    &.row-1 {
      padding-top: 0;
    }
  }
  
  &.with-header {
    .row-1 {
      padding-top: 50px;
    }
  }
  
  #wwa-header {
    position: relative;
    padding: 20px 20px 0;
    border: 3px solid $colHdLt;
    border: {
      left: none;
      right: none;
    }
    background: #fff;
    margin-top: 20px;
    
    .wwa-heading {
      text-align: center;
    }
  }
  
  .column {
    position: relative;
    padding-right: $padWWACols;
    text-align: center;
    
    &.right {
      padding: {
        right: 0;
        left: $padWWACols;
      }
      
      .wwa-edit-link {
        right: 0;
      }
    }
    
    &:hover {
      .wwa-edit-link {
        display: inline-block;
      }
    }
  }
}

.wwa-heading {
  font-size: 15px;
  line-height: normal;
  color: $colHdLt;
}

.wwa-name {
  margin-bottom: 1em;
  font: {
    weight: $weightSSPSemiBold;
    size: 40px;
  }
  
  line-height: normal;
  color: $colHdDrk;
  
  .wwa-heading {
    text-transform: lowercase;
    font: {
      weight: 200;
      size: 13px;
    }
  }
}

p.wwa-bio {
  font-size: 15px;
  line-height: 2;
}

#wwa-scroll-nav-link {
  width: 102px;
  height: 102px;
  padding-top: 13px;
  border: 1px solid $colSLWWAWBorder;
  @include vendorize(border-radius, 50%);
  margin: 8px auto 59px;
}

// Talk to Us
#ttu-container {
  padding: {
    top: 59px;
    bottom: 180px;
  }
}

#ttu-title {
  margin-bottom: 90px;
  text-align: center;
  font: {
    size: 60px;
  }
  line-height: normal;
  color: $colHdLt;
}

// Blog
#hb-container {
  width: 100%;
  background: $colBgWWD;
  text-align: center;
  letter-spacing: 2px;
  
  &> .content {
    padding: 62px 0;
    color: #fff;
    
    h2 {
      margin: {
        bottom: 72px;
      }
      
      text: {
        transform: uppercase;
      }
      
      a {
        @include linkAllStates(color, $colHdLt);
      }
      
      line-height: 1;
      
      font: {
        weight: $weightSSPLight;
        size: 78px;
      }
    }
    
    .view.view-blog {
      width: 100%;
      max-width: 1256px;
      padding: 0 23px;
      margin: auto;
      
      .view-content {
        overflow: hidden;
        
        .views-row {
          float: left;
          width: 28.6184%;
          margin: 0;
          
          &-1 {
          }
          
          &-2 {
            margin: 0 7.0724%;
          }
          
          &-3 {
            float: right;
          }
          
          h3 {
            margin: 0 0 24px;
            font: {
              weight: bold;
              size: 24px;
            }
            
            line-height: normal;
            
            a {
              @include linkAllStates(color, #fff);
            }
            
            &:after {
              content: "";
              display: block;
              width: 64.6551%;
              height: 1px;
              background: $colFrontBlogTitleBrdr;
              margin: 20px auto 0;
            }
          }
          
          .post-body--front {
            font: {
              size: 16px;
            }
            
            line-height: 1.4375;
          }
          
          .views-more-link {
            display: block;
            margin-top: 30px;
            text-transform: uppercase;
            @include linkAllStates(color, $colFrontReadMore);
            @include linkAllStates(text-decoration, underline);
            font: {
              weight: bold;
            }
          }
        }
      }
    }
  }
}

#hb-container > .content .more-link {
  @include clear();
  margin-top: 72px;
  text-align: center;
  color: $colFrontReadMore;
  font: {
    weight: bold;
    size: 24px;
  }
  
  line-height: normal;
  
  a {
    @include linkAllStates(color, $colFrontBlogMore);
    @include hoverActiveFocus(text-decoration, underline);
  }
  
  &:before,
  &:after {
    display: inline;
    width: auto;
    height: auto;
  }
  
  &:before {
    content: "[ ";
  }
  
  &:after {
    content: "] ";
  }
}
