
   /*	--------------------------------------------------
  :: Global Reset & Standards, OHO Basic Responsive
  -------------------------------------------------- */
  
  body { 
  background: #fff;
  font-size: 16px;
  line-height: 1.5em;
  }
  
  body, cite {
  margin:0;
  padding:0;
  }
  
  table thead tr th:first-child, table tfoot tr td:first-child { border-left: none; }
  table thead tr th:last-child, table tfoot tr td:last-child { border-right: none; }
  
  form label { cursor: pointer; }
  
  /* -------------------------------------------------- 
  :: Drupal Specific Resets
  ---------------------------------------------------*/
  
  ul.menu,
  ul.block-grid {
  padding: 0px;
  margin: 0px;
  }
  
  ul li.expanded {
  list-style-image: none;
  list-style-type: none; /* nope, neva! */
  }
  
  ul.menu li {
  margin: 0;
  }
  
  ul li.collapsed {
  list-style-image: none;
  }
  
  .item-list ul {
  margin: 0
  }
  
  li.expanded, li.collapsed, li.leaf {
  padding: 0px;
  }
  
  ul li.leaf {
  list-style-type:none; 
  list-style-image:none;
  }
  
  /* -------------------------------------------------- 
  :: Print Styles
  :: Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
  :: Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
  ---------------------------------------------------*/
  
  .print-only { 
  display: none !important; 
  }
  
  .hide-on-print { 
  display: none !important; 
  }
  
  @media print {
  * { 
  background: transparent !important; 
  color: black !important; 
  text-shadow: none !important; 
  filter:none !important;
  -ms-filter: none !important; 
  } 
  
  /* Black prints faster: sanbeiji.com/archives/953 */
  p a, p a:visited { 
  color: #444 !important; 
  text-decoration: underline; 
  }
  
  p a[href]:after { 
  content: " (" attr(href) ")"; 
  }
  
  abbr[title]:after { 
  content: " (" attr(title) ")"; 
  }
  
  /* Don't show links for images, or javascript/internal links */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { 
  content: ""; 
  } 
  
  pre, blockquote { 
  border: 1px solid #999; 
  page-break-inside: avoid; 
  }
  
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  thead { 
  display: table-header-group; 
  } 
  
  tr, img { 
  page-break-inside: avoid; 
  }
  
  @page { 
  margin: 0.5cm;
  }
  
  p, h2, h3 { 
  orphans: 3; 
  widows: 3; 
  }
  
  h2, h3 {
  page-break-after: avoid; 
  }
  
  }
  
  
  /* -------------------------------------------------- 
  :: Utilitiies
  ---------------------------------------------------*/
  .left        { float: left; }
  .right       { float: right; }
  .text-left   { text-align: left; }
  .text-right  { text-align: right; }
  .text-center { text-align: center; }
  .hide        { display: none; }
  .highlight   { background: #ff0; }
  .naked-list { list-style: none; }
  
