@media screen and (min-width: 661px) and (max-width: 920px) {
  #wwa-bios {
    padding: 0 63px 50px; } }
@media only screen and (min-width: 791px) and (max-width: 920px) {
  .wwa-name {
    font-size: 30px; } }
@media only screen and (min-width: 661px) and (max-width: 790px) {
  #wwd-container {
    padding: 0 63px; } }
@media only screen and (max-width: 529px) {
  #portfolio-container {
    background: #fff; }

  #portfolio-slider-bg {
    display: none; }

  #portfolio-slider-wrapper .slider-wrapper {
    padding-left: 10px;
    padding-right: 10px; } }
@media only screen and (min-width: 481px) and (max-width: 790px) {
  #wwa-bios .column {
    text-align: left; } }
@media only screen and (max-width: 790px) {
  .slider-nav {
    top: auto;
    bottom: -104px; }

  #wwa-bios {
    background: none; }
    #wwa-bios .column {
      float: none;
      clear: both;
      width: 100%; }
      #wwa-bios .column.six {
        padding-right: 0; }
      #wwa-bios .column.right {
        padding-left: 0; }
      #wwa-bios .column:first-child {
        padding-top: 40px;
        border-bottom: 3px solid #00abd6;
        margin-bottom: 1em; } }
@media screen and (max-width: 765px) {
  #portfolio-slider-wrapper {
    min-height: 400px;
    padding-bottom: 70px; }
    #portfolio-slider-wrapper .slider-wrapper {
      position: relative;
      top: 0;
      padding: 0 10px 20px;
      overflow: visible; }
      #portfolio-slider-wrapper .slider-wrapper .slider {
        left: 0; }

  .slider-nav {
    bottom: -66px; }
    .slider-nav .arrows {
      max-width: none;
      padding: 0 10px; } }
@media screen and (max-width: 710px) {
  #wwd-container .section-title,
  #wwd-container .section-text {
    float: none;
    clear: both;
    width: 100%;
    max-width: none;
    padding: 0; }
  #wwd-container .section-title {
    font-size: 72px; } }
@media screen and (max-width: 660px) {
  #fixed-menu-buttons {
    display: none; } }
@media screen and (max-width: 450px) {
  .wwa-name {
    font-size: 30px; } }
@media screen and (max-width: 430px) {
  #wwd-container .section-title {
    font-size: 50px;
    text-align: center; }

  #ttu-container {
    padding-bottom: 20px; }

  #ttu-title {
    margin-bottom: 45px; }

  .portfolio-top-text {
    font-size: 23px; } }
@media only screen and (max-width: 400px) {
  #popout-nav-toggle-wrapper {
    padding-top: 50px; }

  #ttu-title {
    font-size: 40px; } }
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .slider-caption {
    padding-right: 60px;
    padding-left: 60px; } }
